#customers * {
    color: black;
}

#customers header * {
    font-weight: 500;
}

#customers header {
    display: flex;
    justify-content: space-between;
}

#customers header button {
    border: 1px solid dodgerblue;
    color: dodgerblue;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.6rem 2rem;
}

#customers .customer-details-container .left {
    border-radius: 10px;
    width: fit-content;
    box-shadow: -1px 2px 6px 2px #00000017;
    padding: 1rem;
    padding-right: 2rem;
}

#customers .customer-details-container .details {
    display: flex;
    align-items: center;
    gap: 2rem;

    & h3 {
        font-weight: 700;
        font-size: 1.3rem;
    }
}

#customers .customer-details-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

#customers .customer-details-container .details figure.avatar {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: inherit;
    }
}

#customers .customer-details-container .overview {
    margin-top: 2rem;
}

#customers .customer-details-container .overview h3 {
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
}

#customers .customer-details-container .overview h5 {
    color: #5A607F;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0 0.2rem 0;
}

#customers .customer-details-container .overview p {
    color: #A1A7C4;
    margin: 0 0 1rem 0;
    line-height: 1.2rem;
    font-size: 0.8rem;
}

#customers .customer-details-container .status.active {
    color: green;
    font-weight: bold;
}

#customers .customer-details-container .status.inactive {
    color: red;
    font-weight: bold;
}

#customers .customer-details-container table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

#customers .customer-details-container thead {
    background: #f1f5f9;
}

#customers .customer-details-container th,
#customers .customer-details-container td {
    padding: 1rem 4rem;
    text-align: left;
    font-size: 14px;
    
}

#customers .customer-details-container th {
    font-weight: 600;
    color: #475569;
}

#customers .customer-details-container tbody tr {
    border-bottom: 1px solid #e2e8f0;
    width: 100%;
}

#customers .customer-details-container tbody tr:hover {
    background-color: #f9fafb;
    cursor: pointer;
}

#customers .customer-details-container .status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

#customers .customer-details-container .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

#customers .customer-details-container .active .dot {
    background-color: #22c55e;
}

#customers .customer-details-container .inactive .dot {
    background-color: #ef4444;
}

#customers .customer-details-container .vip .dot {
    background-color: #facc15;
}

#customers .customer-details-container .actions svg {
    background: none;
    border: none;
    cursor: pointer;
    color: #475569;
    font-size: 16px;
    position: relative;
    left: 1rem;
}

#customers .customer-details-container svg {
    stroke: #475569;
    height: 20px;
}