.wrapper.home {
	width: 100%;
	padding-block: 1rem;
	position: relative;
	background: #f0f0f0;
}

del {
	position: relative;
}

del::before {
  content: '';
  height:2px;
  border-radius: 10px;
  width: 100%; 
  background: #b4b0b0;
  position: absolute;
  top: 50%; 
  left: 7px;
  transform: translateY(-50%);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero section {
	width: 50%;
	height: fit-content;
}

.hero h1 {
	font-weight: 900;
	font-size: 4rem;
	line-height: 3.8rem;
	letter-spacing: 0.3rem;
}

.hero p {
	font-size: 0.9rem;
}

.hero .description {
	color: #b4b0b0;
	margin-block: 2rem;
	width: 80%;
	line-height: 20px;
}

.hero section button {
	background: #000;
	padding: 0.9rem 4rem;
	font-size: 1rem;
	border-radius: 5px;
	color: #fff;
}

.hero .container {
	display: flex;
	gap: 4rem;
	margin-top: 3rem;
}

.hero .container div p {
	color: #b4b0b0;
}

.hero .container div h3 {
	font-size: 2rem;
	font-weight: 600;
}

.image-container {
	width: 50%;
	height: 90vh;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 -90px;
	}
}

.icon-container {
	position: absolute;
	width: 50%;
	height: 80vh;
	right: 0;
}

.icon-container img {
	position: relative;
	top: 50%;
}

.icon-container img.diamond-large {
	width: 100px;
	height: 100px;
	left: 60%;
	top: 0;
}

.wrapper.brand {
	background: #000;
	padding-block: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-product-collections {
	padding-block: 5rem;
	height: fit-content;
}

.home-product-collections h1 {
	text-align: center;
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.home-product-collections h4 {
	font-weight: 600;
	padding-top: 1rem;
}

.home-product-collections h3 {
	display: flex;
	align-items: center;
	
	& b {
		font-weight: 600;
	}
	
	& svg.ruppee-icon {
		height: 18px;
		width: 18px;
	}
}

.home-product-collections h3 del {
	color: #b4b0b0;
	padding-left: 0.5rem;
	display: flex;
	align-items: center;

	& b {
		color: #b4b0b0;
	}

	& svg.ruppee-icon {
		stroke: #b4b0b0;
	}
}

.home-product-collections div.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 3rem;
	width: 100%;
	margin-bottom: 3rem;
}

.home-product-collections div.container article {
	height: fit-content;
}

.home-product-collections div.container figure {
	width: 100%;
	height: 350px;

	& img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		object-fit: cover;
	}
}

.home-product-collections div.container .icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 0.5rem;

	& span {
		position: relative;
		top: -2px;
	}
}

.home-product-collections a {
	display: block;
	width: fit-content;
	border: 1px solid;
	border-radius: 50px;
	padding: 0.5rem 2rem;
	margin: 0 auto;
	text-align: center;
}

.home-product-collections div.container article svg.rating {
	height: 18px;
	width: 18px;
	stroke-width: 0px;
}

.home-product-collections div.container article svg.rating.true {
	fill: gold;
}

.home-product-collections div.container article svg.rating.false {
	fill: #dddddd;
}

.category {
	margin-bottom: 3rem;
}

.category section {
	background-color: #f0f0f0;
	border-radius: 40px;
	padding: 3rem;
}

.category .container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.category .container .top,
.category .container .bottom {
	display: flex;
	gap: 1rem;
}

.category .container .top figure,
.category .container .bottom figure {
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: inherit;
		object-position: center !important;
	}
}

.category .container .top figure:last-child,
.category .container .bottom figure:first-child {
	flex-grow: 1.3;
}

.category .container .top figure:first-child,
.category .container .bottom figure:last-child {
	flex-grow: 0.8;
}

.category .container .bottom figure:last-child img {
	transform: scale(1);
}

.category figure figcaption {
	position: relative;
	top: -100%;
	padding: 1rem;
	font-weight: 700;
	font-size: 2rem;
}

.category .container .bottom figure:first-child img,
.category .container .top figure:first-child img {
	object-position: 250px;
}

.category .container .bottom figure:last-child img {
	object-position: 0 -250px;
}

.category h1 {
	text-align: center;
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.category figure:hover {
	cursor: pointer;
}

.wrapper.review {
	margin-bottom: 3rem;
}

.review h1 {
	font-weight: 900;
	font-size: 3rem;
	padding-block: 2rem;
}

.review article {
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	width: 350px;
	padding: 2rem 1rem;
}

.review .name {
	display: flex;
	justify-content: start;
	gap: 20px;
	align-items: center;
	padding-block: 1rem;
}

.review .name h3 {
	font-weight: 600;
}

.review p {
	color: #6a6868;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.review .container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.nav-to-product-detail-page:hover {
	cursor: pointer;
}