.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination a,
span.btn {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 0.8rem;
	gap: 1rem;
	border: 1px solid #d1d5db;
	margin-top: 2rem;

	cursor: pointer;
}

.pagination .btn {
	display: inline-block;
	text-decoration: none;
}

.pagination .btn.disable {
	background: #5e779c3d;
	cursor: default;
}

.pagination-btn-container {
	padding-inline: 1rem;
	overflow-x: scroll;
	scrollbar-width: none;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.pagination-btn-container::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.pagination a,
	.pagination .btn {
		padding: 0.8rem 1.2rem;
	}

	.pagination-btn-container {
		width: 50%;
		padding-inline: 0;
	}
}

@media (max-width: 480px) {
	.pagination a,
	.pagination .btn {
		padding: 0.7rem 1rem;
		font-size: 0.75rem;
		gap: 0.5rem;
	}

	.pagination a svg {
		width: 16px;
		height: 16px;
	}

	.pagination-btn-container {
		width: 60%;
	}
}

@media (max-width: 415px) {
	.pagination a,
	.pagination .btn {
		padding: 0.4rem 0.6rem;
	}
	.pagination a svg {
		width: 14px;
		height: 14px;
	}
	.pagination-btn-container {
		width: 70%;
	}
}
