* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: black;
	list-style: none;
	font-weight: 400;
	text-decoration: none;
	box-sizing: border-box;
	background: transparent;
	font-family: "Montserrat", sans-serif;
}

.wrapper.header {
	position: relative;
}

.header header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	padding-block: 1.5rem;

}

.header nav,
.header nav ul {
	display: flex;
	align-items: center;
	width: 60%;
	gap: 1rem;
}

.header nav.icons,
.header ul {
	width: fit-content;
	justify-content: center;
}

.header nav form {
	width: 60%;
	background: #f0f0f0;
	padding-block: 0.5rem;
	padding-inline-start: 1rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header nav label {
	position: relative;
	top: 2px;
}

.header h1,
.footer h1 {
	font-weight: 900;
}

.header nav a li {
	font-weight: 500;
}

.header ::placeholder {
	color: #909090;
	font-size: 1rem;
	font-weight: 300;
}

.footer footer {
	width: 100%;
}

.footer {
	background: #f0f0f0;
	padding-block: 3rem;
}

.footer footer .left,
.footer footer .right,
.footer footer .left aside:last-child,
.footer .left nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .left nav {
	gap: 5rem;
}

.footer footer .right {
	margin-top: 2rem;

	& small {
		color: #606060;
	}
}

.footer .left nav a {
	font-size: 0.9rem;

	& li {
		margin-bottom: 0.8rem !important;
		color: #606060;
	}
}

.footer .left nav ul li:first-child {
	margin-bottom: 1.3rem;
}

.footer aside {
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer span {
	display: flex;
	gap: 0.5rem;
}

.footer span a {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	border: 2px solid #ccc;
}

.footer hr {
	height: 0.5px;
	background: #ccc;
	margin-top: 2rem;
}

.footer aside p {
	color: #606060;
	margin-bottom: 1rem;
}

.wrapper {
	padding-inline: 5rem;
}

.header .account-dropdown.active {
	background: #6060605b;
	backdrop-filter: blur(5px);
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 70px;
	right: 0;
	z-index: 2;
	margin-inline: 1rem;
}

.header img.account:hover {
	cursor: pointer;
}

.header .account-dropdown.deactive {
	display: none;
}

.header .account-dropdown figure a {
	display: flex;
	align-items: center;
	gap: 10px;

	& span {
		color: #fff;
	}
}

.header .account-dropdown h4.welcome {
	color: #fff;
	font-weight: 600;
}

input:disabled {
	cursor: auto !important;
}

button:hover,
input[type="submit"] {
	cursor: pointer;
}

h2.username {
	color: #fff;
}