<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/swal.css">
  <link rel="stylesheet" href="style/login.css">
  <title>Change Password</title>
</head>

<body>
  <section class="login-container">
    <figure>
      <img src="images/images/forgotPassword.png" alt="loginimage">
      <a href="/">
        <h1>SHOP.CO</h1>
      </a>
    </figure>
    <section>
      <form action="/changepassword" method="post" id="changePasswordForm">
        <div>
          <h1>Change Password</h1>
          <% if(error) { %>
          <small style="color: red;">
            <%= error %>
          </small>
          <% } else { %>
          <small>Enter your password</small>
          <% } %>
        </div>
        <input type="email" name="hiddenEmail" id="hiddenEmail" hidden style="display: none;" value="<%= usermail %>">
        <div class="password-container">
          <label for="currentPassword">Your Password</label>
          <input type="password" name="currentPassword" id="currentPassword" placeholder="New Password" class="passwordField">
          <img src="/images/icons/closedEye.png" class="toggle-password" alt="">
        </div>
        <div class="password-container">
          <label for="password">New Password</label>
          <input type="password" name="newPassword" id="newPassword" placeholder="New Password" class="passwordField">
          <img src="/images/icons/closedEye.png" class="toggle-password" alt="">
        </div>
        <div class="password-container">
          <label for="password">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="passwordField">
          <img src="/images/icons/closedEye.png" class="toggle-password" alt="">
        </div>
        <div class="extra-details">
          <a href="" class="forgot-password" style="position: relative; top: 2px;">Forgot Password ?</a>
        </div>
        <input type="submit" value="Change Password" class="submit">
      </form>
    </section>
  </section>
  
  <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script type="module" src="/script/login.js"></script>
  <script type="module" src="/script/changePassword.js"></script>
</body>

</html>