<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/swal.css">
  <link rel="stylesheet" href="style/login.css">
  <title>Login</title>
</head>

<body>
  <section class="login-container">
    <figure>
      <img src="images/images/forgotPassword.png" alt="loginimage">
      <a href="/">
        <h1>SHOP.CO</h1>
      </a>
    </figure>
    <section>
      <form action="/forgotPassword" method="post">
        <div>
          <h1>Forgot Password</h1>
          <% if(error) { %>
          <small style="color: red;">
            <%= error %>
          </small>
          <% } else { %>
          <small>Enter the code we have send in your registered email to reset your password.</small>
          <% } %>
        </div>
        <% if (token) { %>
         <input type="text" name="token" id="token" hidden value="<%= token %>" style="display: none;">
        <% } %>
        <div class="password-container">
          <label for="password">New Password</label>
          <input type="password" name="newPassword" id="newPassword" placeholder="New Password" class="passwordField">
          <img src="/images/icons/closedEye.png" class="toggle-password" alt="">
        </div>
        <div class="password-container">
          <label for="password">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="passwordField">
          <img src="/images/icons/closedEye.png" class="toggle-password" alt="">
        </div>
        <input type="submit" value="Change Password" class="submit">
      </form>
    </section>
  </section>

  <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script type="module" src="/script/login.js"></script>
</body>

</html>