<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/partials.css">
  <link rel="stylesheet" href="style/swal.css">
  <link rel="stylesheet" href="style/home.css">
  <title>Home</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>

  <section class="wrapper home">
    <section class="hero">
      <section>
        <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
        <p class="description">Browse through our diverse range of meticulously crafted garments, designed
          to bring out your
          individuality and cater to your sense of style.</p>
        <a href=""><button>Shop Now</button></a>
        <div class="container">
          <div>
            <h3>200+</h3>
            <p>International Brands</p>
          </div>
          <div>
            <h3>2,000+</h3>
            <p>High-Quality Products</p>
          </div>
          <div>
            <h3>30,000+</h3>
            <p>Happy Customers</p>
          </div>
        </div>
      </section>
      <div class="image-container"><img src="images/images/rectangle_2_930464.jpg" alt="rec"></div>
      <div class="icon-container">
        <img src="images/icons/diamond.svg" alt="diamond">
        <img class="diamond-large" src="images/icons/diamond.svg" alt="diamond">
      </div>
    </section>
  </section>

  <section class="wrapper brand">
    <img src="images/images/calvin.svg" alt="calvin">
    <img src="images/images/calvin.svg" alt="calvin">
    <img src="images/images/calvin.svg" alt="calvin">
    <img src="images/images/calvin.svg" alt="calvin">
    <img src="images/images/calvin.svg" alt="calvin">
  </section>

  <section class="wrapper new-arraival">
    <section class="home-product-collections">
      <h1>NEW ARRAIVALS</h1>
      <div class="container">
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
      </div>
      <a href=""><button>view all</button></a>
    </section>
  </section>

  <section class="wrapper top-selling">
    <section class="home-product-collections">
      <h1>TOP SELLING</h1>
      <div class="container">
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
        <article>
          <figure>
            <img src="images/images/image_7_289872.png" alt="T-SHIRT">
          </figure>
          <div>
            <h4>T-SHIRT WITH TAPE DETAILS</h4>
            <div class="icons">
              <div class="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                <img src="images/icons/star.svg" alt="star">
                &nbsp;
                5 / 5
              </div>
              <img src="images/icons/heart.svg" alt="heart">
            </div>
            <h3>$200 <del>$250</del></h3>
          </div>
        </article>
      </div>
      <a href=""><button>view all</button></a>
    </section>
  </section>

  <section class="wrapper category">
    <section>
      <h1>BROWSE BY CATEGORY</h1>
      <div class="container">
        <div class="top">
          <figure>
            <img src="images/images/image_11_8dcd6d.png" alt="">
            <figcaption>MEN</figcaption>
          </figure>
          <figure>
            <img src="images/images/image_12_e2cbfb.png" alt="">
            <figcaption>WOMEN</figcaption>
          </figure>
        </div>
        <div class="bottom">
          <figure>
            <img src="images/images/image_13_a73b29.png" alt="">
            <figcaption>FORMAL</figcaption>
          </figure>
          <figure>
            <img src="images/images/Remove background project.png" alt="">
            <figcaption>KIDS</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </section>

  <section class="wrapper review">
    <section>
      <h1>OUR HAPPY CUSTOMERS</h1>
      <div class="container">
        <article>
          <div class="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
          </div>
          <div class="name">
            <h3>Sarah M</h3>
            <img src="images/icons/verified.svg" alt="verified">
          </div>
          <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </article>
        <article>
          <div class="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
          </div>
          <div class="name">
            <h3>Sarah M</h3>
            <img src="images/icons/verified.svg" alt="verified">
          </div>
          <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </article>
        <article>
          <div class="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
          </div>
          <div class="name">
            <h3>Sarah M</h3>
            <img src="images/icons/verified.svg" alt="verified">
          </div>
          <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </article>
        <article>
          <div class="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
            <img src="images/icons/star.svg" alt="star">
          </div>
          <div class="name">
            <h3>Sarah M</h3>
            <img src="images/icons/verified.svg" alt="verified">
          </div>
          <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
        </article>
      </div>
    </section>
  </section>

  <%- include('../partials/footer.ejs') %>
</body>

</html>