<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/swal.css">
  <link rel="stylesheet" href="style/login.css">
  <title>Signup</title>
</head>

<body>
  <section class="login-container">
    <figure>
      <img src="images/images/rectangle_3463272_3c1ace.jpg" alt="signupimage">
      <a href="/">
        <h1>SHOP.CO</h1>
      </a>
    </figure>
    <section>
      <form action="/signup" method="post">
        <div>
          <h1>Create New Account</h1>
          <% if(error) { %>
          <small style="color: red;">
            <%= error %>
          </small>
          <% } else { %>
          <small> Please enter the details </small>
          <% } %>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" id="password" placeholder="password">
        </div>
        <input type="submit" value="Signup" class="submit">
        <article>
          <img src="images/icons/google.svg" alt="google" class="googleicon">
          <a href="google/signup" class="submit google">signup with Google</a>
          <!-- <input type="submit" name="googlesubmit" value="signup with Google" class="submit google"> -->
        </article>
        <div class="extra-details">
          <a href="/login">Already have an account? <u>login</u></a>
        </div>
      </form>
    </section>
  </section>
</body>

</html>