<section class="wrapper footer">
    <footer>
        <div class="left">
            <aside>
                <a href="/">
                    <h1>SHOP.CO</h1>
                </a>
                <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                <span>
                    <a href=""> <img src="/images/icons/twitter.svg" alt="twitter"> </a>
                    <a href=""> <img src="/images/icons/facebook.svg" alt="facebook"> </a>
                    <a href=""> <img src="/images/icons/instagram.svg" alt="instagram"> </a>
                    <a href=""> <img src="/images/icons/github.svg" alt="github"> </a>
                </span>
            </aside>
            <nav>
                <ul>
                    <li>COMPANY</li>
                    <a href="">
                        <li>About</li>
                    </a>
                    <a href="">
                        <li>Features</li>
                    </a>
                    <a href="">
                        <li>Works</li>
                    </a>
                    <a href="">
                        <li>Career</li>
                    </a>
                </ul>
                <ul>
                    <li>HELP</li>
                    <a href="">
                        <li>Customer Support</li>
                    </a>
                    <a href="">
                        <li>Delivery Details</li>
                    </a>
                    <a href="">
                        <li>Terms & Conditions</li>
                    </a>
                    <a href="">
                        <li>Privacy Policy</li>
                    </a>
                </ul>
                <ul>
                    <li>FAQ</li>
                    <a href="">
                        <li>Account</li>
                    </a>
                    <a href="">
                        <li>Manage Deliveries</li>
                    </a>
                    <a href="">
                        <li>Orders</li>
                    </a>
                    <a href="">
                        <li>Payment</li>
                    </a>
                </ul>
                <ul>
                    <li>RESOURCES</li>
                    <a href="">
                        <li>Free eBooks</li>
                    </a>
                    <a href="">
                        <li>Development Tutorials</li>
                    </a>
                    <a href="">
                        <li>How to - Blog</li>
                    </a>
                    <a href="">
                        <li>YouTube Playlist</li>
                    </a>
                </ul>
            </nav>
        </div>
        <hr>
        <div class="right">
            <aside>
                <small>SHOP.CO © 2000-2021, All rights reserved</small>
            </aside>
            <span>
                <img src="/images/icons/visa.svg" alt="visa">
                <img src="/images/icons/master.svg" alt="master">
                <img src="/images/icons/gpay.svg" alt="gpay">
                <img src="/images/icons/applepay.svg" alt="applepay">
            </span>

        </div>
    </footer>
    <script type="module" src="/script/partials.js"></script>
</section>