<section class="wrapper header">
  <header>
    <a href="/">
      <h1>SHOP.CO</h1>
    </a>


    <nav class="main-nav-container">
      <ul>
        <a href="/products">
          <li>Shop</li>
        </a>
        <a href="">
          <li>On Sale</li>
        </a>
        <a href="">
          <li>Brands</li>
        </a>
        <a href="">
          <li>New Arraivals</li>
        </a>
      </ul>
      <form action="">
        <label for="search"><img src="/images/icons/search.svg" alt=""></label>
        <input type="text" name="search" id="search" placeholder="search">
      </form>
    </nav>

    <nav class="icons">
      <a href=""> <img src="/images/icons/cart.svg" alt="cart"> </a>
      <img class="account" src="/images/icons/account.svg" alt="account">
      <div class="menu-toggle">
        <i data-lucide="menu" class="hamburger"></i>
      </div>

      <div class="account-dropdown deactive">
        <h2 class="username"></h2>
        <figure>
          <a href="#" class="create-account">
            <img src="/images/icons/user.svg" alt="create account">
            <span>Create an Account</span>
          </a>
        </figure>
        <figure>
          <a href="/account">
            <img src="/images/icons/Icon-account.svg" alt="my account">
            <span>Account</span>
          </a>
        </figure>
        <figure>
          <a href="/login">
            <img src="/images/icons/login-svgrepo-com.svg" style="width: 24px; height: 24px; stroke-width: 1px;" alt="create account">
            <span>Login</span>
          </a>
        </figure>
        <figure>
          <a href="/logout">
            <img src="/images/icons/Icon-logout.svg" alt="create account">
            <span>Logout</span>
          </a>
        </figure>
      </div>
    </nav>
  </header>
   <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script type="module" src="/script/partials.js"></script>
</section>