<section class="wrapper header">
  <header>
    <a href="/">
      <h1>SHOP.CO</h1>
    </a>
    <nav>
      <form action="">
        <label for="search"><i data-lucide="search"></i></label>
        <input type="text" name="search" id="search" placeholder="search">
      </form>
    </nav>
    <nav class="icons">
      <a href=""> <i data-lucide="message-square"></i> </a>
      <i data-lucide="bell"></i>
      <div class="profile">
        <figure><i data-lucide="user"></i></figure>
        <h5>Name</h5>
      </div>
    </nav>
    <figure class="logout">
      <a href="/admin/logout">
        <img src="/images/icons/Icon-logout.svg" alt="create account">
        <span>Logout</span>
      </a>
    </figure>
  </header>
  <script>
    const fetchUsername = async () => {
      const res = await fetch('/username');
      const data = await res.json()
      console.log(data);
      
      if (data.username) {
        dropdown.querySelector(".profile h5").innerHTML = `Hello, ${data.username}`
      }
    }

    fetchUsername()
  </script>
</section>